@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
}


input[type=text],input[type=email]{
	display: block;
	margin-top: 1%;
	height: 40px;
	width: 20%;
	padding: 5px;
	font-size: 18px;
}

input[type=submit]{
	height:40px;
	background-color:#990077;
	color:#fff;
	margin-top:1%;
	font-size:18px;
}

#header {
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 5%;
	text-transform: uppercase;

}

.content {
	padding: 5%;
}

.mountain {
	width: 100%;
}

#footer {
	text-align: center;
	background-color: #131332;
	color: #fff;
	padding: 5%;
	text-transform: uppercase;
}