html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

@font-face {
    font-family: 'falling_sky_ext';
    src: url('Fonts/fallingskyext.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a {
	text-decoration: none;
}

h1:hover {
	color: orange;
}

header h1 {
	line-height: 132px;
	margin-right: 20px;
	text-align: center;
	font-family: 'falling_sky_ext';
	color: white;
	font-size: 2.2em;
}

footer h1 {
	line-height: 149px;
	letter-spacing: .1px;
	margin-right: 0px;
	text-align: center;
	font-family: 'falling_sky_ext';
	color: white;
	font-size: 2.2em;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	width: 100%;
	height: 11.4em;
	background-image: url("images/rainbow-background.jpg");
	background-size: cover;
	padding: 10px;
}

#blog {
	padding-top: 3.8em;
	padding-right: 3.82519em;
	padding-bottom: 16.45em;
	padding-left: 3.82519em;
	background-image: url("images/beach.jpg");
	background-size: cover;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 12.6em;
	background-image: url("images/rainbow-background.jpg");
	background-size: cover;
}

#blog p, li {
	font-size: 2em;
	font-family: "Comic Sans MS";
	color: #FF1D8E;
}

#sticker {
	float: right;
	height: 20em;
	width: 20em;
}

#crop {
	display: inline-block;
	width: 68.85em;
	height: 34.85em;
}

#crop img {
	width: 68.85em;
	background-size: cover;
	padding-bottom: .25em;
}